@import '../assets/styles/variables/global.scss';
@import 'sass-mq';

.container {
    background-color: $color-white;
    color: $color-black;
    padding: var(--s-component);
}

.inner {
    background-color: var(--brand);
    border-radius: var(--r-outer);
    padding: 56px 0;
}

.text {
    margin-top: 1em;
}

.statsWrap {
    position: relative;
    display: flex;
    margin-top: 1em;
    @include mq($until: desktop) {
        flex-direction: column;
    }
}

.stats {
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
    border-radius: var(--r-outer);
    padding: var(--s-component);
    width: 100%;
}

.statsIncluded {
    width: calc(65% - 2px);
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    border-radius: var(--r-inner);
    padding: 9px 20px 11px;
}

.statsExcluded {
    width: calc(35% - 2px);
    display: flex;
    flex-direction: column;
    border-radius: var(--r-inner);
    background-color: $color-black;
    color: var(--brand);
    padding: 9px 20px 11px;
}

.statsNumber {
    font-size: 40px;
    @include mq($until: tablet) {
        font-size: 30px;
    }
}

.statsLabel {
    @include mq($until: tablet) {
        font-size: 12px;
    }
}

.statsSource {
    color: rgba($color-black, 0.2);
    text-decoration: underline;
    @include mq($from: desktop) {
        flex-direction: column;
        position: absolute;
        right: -4.5em;
        top: 0;
        transform: rotate(90deg);
        transform-origin: 0;
    }
}
