@import 'sass-mq';
@import 'variables/breakpoints';
@import 'mixins/font-size';
@import 'mixins/responsive-property';

.body {
    @include font-size(22px);
    font-family: var(--font-family);
}

.small {
    @include font-size(14px);
}

.headingSmall {
    @include font-size(22px);
    font-family: var(--font-family);
    font-weight: normal;
    line-height: 1.1;
}

.headingMedium {
    @include font-size(22px);
    @include resp(font-size, (phone: 22px, phone-plus: 24px, phablet: 28px, tablet: 30px, desktop: 32px));
    font-size: 32px;
    font-family: var(--font-family);
    font-weight: normal;
    line-height: 1.1;
}

.headingBig {
    @include font-size(22px);
    @include resp(font-size, (phone: 30px, phone-plus: 34px, phablet: 38px, tablet: 42px, desktop: 44px));
    line-height: 1.1;
    font-size: 48px;
    font-family: var(--font-family-heading);
    font-weight: normal;
}

.headingSection {
    @extend .headingSmall;
    margin-top: 2em;
}
