@font-face {
  font-family: 'Everett Medium';
  src: url('../../public/fonts/TWKEverett-Medium-web.woff2') format('woff2'),
    url('../../public/fonts/TWKEverett-Medium-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Everett Extra Bold';
  src: url('../../public/fonts/TWKEverett-Extrabold-web.woff2') format('woff2'),
    url('../../public/fonts/TWKEverett-Extrabold-web.woff') format('woff');
  font-weight: normal;
  font-style: bold;
}
